// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container {
    margin-top: 80px;
}

.course-card {
    padding: 15px;
}

#video-modal .modal-dialog{
    max-height: 90%;
}

.toast {
    position: absolute; 
    top: 70px; 
    right: 10px;
    background-color: rgba(255, 255, 255, 1);
}
